#recorrido_f polyline {
    fill: none;
    stroke: #5B4732;;
}
#recorrido_f:hover + polyline {
    stroke: black;
}
.recorrido {
    fill: none;
    stroke: #5B4732;;
}
.recorrido:hover {
    stroke: black;
}