body {
    background: #FCFCFC;
    color: #121212;
}

.header-testimonio {
    text-align: right;
    padding: 1em;
    font-size: 50px;
}
.header-testimonio h1 {
    margin: 0%;
    margin-top: 100px;
    padding: 0;
    font-size: 40px;
    letter-spacing: 0px;
    
}
.header-testimonio p {
    font-size: 28px;
}

.testimonio {
    color: var(--color-testimonio-base, #cfcfcf);
}

.testimonio p {
    margin-top: 10vh;
    font-size: 10vw;
    line-height: 1em;
    letter-spacing: 1px;
    color: inherit;
    position: relative;
    pointer-events: none;
}
.testimonio img {
    position: absolute;
    top: 0;
    width: 100%;
    max-width: 640px;
    z-index: -1;
    transform: scale(1);
    pointer-events: all;
    transition: all 0.3s ease;
}

.testimonio img:hover {
    opacity: .5;
}
.testimonio img.img-right {

    right: 0;
}
.testimonio img.img-left:hover {
   left: 50%;
}

.testimonio img.img-left {
    left: 0;
}
.testimonio img.img-rotated {
    transform: rotate(90deg);
}
.testimonio .word {
    display: inline-block;
    color: inherit;
    transition: color 0.3s ease;
}

.testimonio b,
.testimonio strong{
    font-weight:900;
}